<div class="container-fluid">
    <div class="row">
        <h3>Table <a ng-href="#/n/{{namespace}}">{{namespace}}</a>:{{simpleTableName}}</h3>

        <img src="../img/diff.png" class="imgButton" title="Compare with other namespace"
             ng-if="otherNamespaces && otherNamespaces.length > 0"
             uib-popover-template="'selectNamespacePopover.html'" popover-placement="right"
             popover-title="Select namespace to compare"
        >
    </div>

    <div style="height: 20px;"></div>

    <div class="row">
        <div ng-if="!data">
            <img src="../img/progress.gif"> Loading...
        </div>

        <div ng-if="data && data.length == 0">
            <div class="emptyResult">No rows found</div>
        </div>

        <div ng-if="data && data.length > 0">
            <table id="dataTable" class="table table-bordered table-striped" ng-click="showMore($event)">
                <thead>
                <tr>
                    <th rowspan="2" class="keyHeader">
                        <span ng-click="showSelectIdTypeDialog()">
                            Key
                        </span>
                    </th>

                    <th ng-repeat="f in families | filter: nonEmptyFamily" colspan="{{f.columns.length}}" title="Family">
                        {{f.name}}
                    </th>
                </tr>
                <tr class="columnHeader">
                    <th ng-repeat="c in columns" title="{{c.family.name}}:{{c.q}}">
                        <div ng-click="showSelectTypeDialog(c)">
                            {{c.q}}
                        </div>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="row in data track by $index" rowIndex="{{$index}}">
                    <td class="key" ng-bind-html="keyFormat.renderer.render(row.key, keyFormat.rendererAttr)"></td>

                    <td ng-repeat="c in columns" ng-bind-html="c.render(row.data[c.family.name][c.q])"></td>
                </tr>
                </tbody>
            </table>

            <button ng-if="nextRowKey" ng-click="loadNext()">Next 30 rows</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="selectTypeDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Column {{col.family.name}}:{{col.q}}</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="rendererName">Renderer:</label>
                <select id="rendererName" ng-model="rendererName" ng-options="r.name as r.description for r in allRenderers"></select>
            </div>

            <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('noWrap') >= 0" class="form-group">
                <label for="noWrap">No line break</label>
                <input id="noWrap" type="checkbox" ng-model="rendererAttr.noWrap">
            </div>

            <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('maxLength') >= 0" class="form-group">
                <label for="maxLength">Max field length (0 - unlimited)</label>
                <input id="maxLength" type="text" ng-model="rendererAttr.maxLength" placeholder="30">
            </div>

            <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('phoenixSign') >= 0" class="form-group">
                <label for="phoenixSign">Phoenix signed type (highest bit is reverted)</label>
                <input id="phoenixSign" type="checkbox" ng-model="rendererAttr.phoenixSign">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="selectIdTypeDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Row key</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="rendererNameId">Renderer:</label>
            <select id="rendererNameId" ng-model="rendererName" ng-options="r.name as r.description for r in allRenderers"></select>
        </div>

        <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('noWrap') >= 0" class="form-group">
            <label for="noWrapId">No line break</label>
            <input id="noWrapId" type="checkbox" ng-model="rendererAttr.noWrap">
        </div>

        <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('maxLength') >= 0" class="form-group">
            <label for="maxLengthId">Max field length (0 - unlimited)</label>
            <input id="maxLengthId" type="text" ng-model="rendererAttr.maxLength" placeholder="30">
        </div>

        <div ng-if="renderersMap[rendererName].supportedAttrs.indexOf('phoenixSign') >= 0" class="form-group">
            <label for="phoenixSignId">Phoenix signed type (highest bit is reverted)</label>
            <input id="phoenixSignId" type="checkbox" ng-model="rendererAttr.phoenixSign">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="showCellDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">
            <span ng-if="column">
                Value of {{column.family.name}}:{{column.q}}
            </span>
            <span ng-if="!column">
                Value of key
            </span>
        </h3>
    </div>
    <div class="modal-body">

        <div ng-if="!value">
            <img src="../img/progress.gif"> Loading...
        </div>

        <div class="cellDataContainer" ng-if="value" ng-bind-html="render(value)">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="selectNamespacePopover.html">
    <div>
        <div ng-repeat="ns in otherNamespaces">
            <a ng-href="#/compare/{{namespace}}/{{simpleTableName}}/{{ns}}/{{simpleTableName}}" target="_blank">{{ns}}</a>
        </div>
    </div>
</script>
