body {
    padding: 5px;
}

.vertexDiv {
    padding: 5px 0;
}

.vertex {
    padding: 4px;
    border: 1px solid black;
    border-radius: 3px;

    background: #eee;

    display: inline-block;
}

.edgeTable {
    margin: 10px 0;
}

.edgeCell {
    border: 1px solid;
    background: #eef;
    text-align: center;
}

.edgeHead {
    border-bottom: 1px solid;
    padding: 3px;
    text-align: center;
}

.edgeId {
    font-size: 10px;
    color: #555;
}

.edgeGroup {
    padding-top: 25px;
}

.notFound {
    color: #999;
    font-style: italic;
}

#queryEditor {
    height: 140px;
    width: 100%;

    border: 2px solid;
    background-color: #f0f0f0 !important;
}

#consoleControls {
    padding: 10px;
}

.resultTime {

}

.queryResult .null, .queryResult .boolean {
    color: #008;
}

.queryResult .number {
    color: #00f;
}

.queryResult .string {
    color: #080;
}

.queryResult .cls {
    color: #888;
}

.queryError {
    color: #f00;
    white-space: pre;
}

.toolicon {
    display: inline-block;
    cursor: pointer;
    padding: 2px;
}

.tooliconDisabled {
    cursor: auto;
    color: #aaa !important;
}

.histAction {
    color: #0000aa;
}

.historyLine {
    padding: 5px 0;
}