<div class="container">
    <div class="row">
        <h3>List of graph in the HBase</h3>

        <div style="color: red" ng-if="errorMsg">
            {{errorMsg}}
        </div>

        <div ng-if="!errorMsg">
            <div ng-if="!tableList">
                Loading...
            </div>

            <div ng-if="tableList && tableList.length > 0">
                <div ng-repeat="table in tableList" style="padding: 3px">
                    <span ng-if="table.isOpen" style="color: green"
                          class="glyphicon glyphicon-transfer"
                          title="Graph is open"
                    ></span>
                    <span ng-if="!table.isOpen"
                          class="glyphicon glyphicon-th"
                          title="Graph is closed"
                    ></span>
                    <a ng-href="#/g/{{table.name}}/vertexList">{{table.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
