<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Incoming edges</h3>

            <div ng-if="!inE">
                <img src="img/progress.gif"> Loading...
            </div>

            <div class="edgeGroup" ng-repeat="(label, edgeList) in inE">
                <a href="javascript:;" data-toggle="collapse" data-target="#edgeLabelIn_{{label}}">{{label}}</a>

                <div id="edgeLabelIn_{{label}}" class="edgeGroupIn collapse in">
                    <div class="vertexDiv" ng-repeat="e in edgeList.edges">
                        <div class="vertex {{e.shortView.cls}}" vId="{{e.shortView.id}}">
                            <a ng-href="#/g/{{table}}/vertex/{{e.shortView.id}}" class="vId">{{e.shortView.id}}</a>
                            <span class="vIcon"></span>
                            <span ng-bind-html="e.shortView.body"></span>
                        </div>
                    </div>

                    <div ng-if="edgeList.hasNext">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            Id: {{vId}} label: {{v.label}}

            <h4>Properties</h4>

            <ul>
                <li ng-repeat="(propName, val) in v.props">{{propName}}={{val}}</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3>Outcoming edges</h3>

            <div ng-if="!outE">
                <img src="img/progress.gif"> Loading...
            </div>

            <div class="edgeGroup" ng-repeat="(label, edgeList) in outE">
                <a href="javascript:;" data-toggle="collapse" data-target="#edgeLabelOut_{{label}}">{{label}}</a>

                <div id="edgeLabelOut_{{label}}" class="edgeGroupIn collapse in">
                    <div class="vertexDiv" ng-repeat="e in edgeList.edges">
                        <div class="vertex {{e.shortView.cls}}" vId="{{e.shortView.id}}">
                            <a ng-href="#/g/{{table}}/vertex/{{e.shortView.id}}" class="vId">{{e.shortView.id}}</a>
                            <span class="vIcon"></span>
                            <span ng-bind-html="e.shortView.body"></span>
                        </div>
                    </div>

                    <div ng-if="edgeList.hasNext">
                        ...
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
