body {
    padding: 5px;
}

.dNull {
    color: #999;
    font-size: 14px;
}

.dHex, .dHexEditor {
    /*color: saddlebrown;*/
    font-family: monospace;
}

.dHex {
    font-size: 10px;
    white-space: pre-wrap;
    word-break: break-all;
}

.Str, .dStrEditor {
    color: #080;
}

.dStr {
    font-size: 12px;
    white-space: pre-wrap;
    word-break: break-all;
}

.dBool {
    color: #008;
    font-size: 14px;
}

.dInt {
    color: #00f;
    font-size: 14px;
}

.dFloat {
    color: #00f;
    font-size: 14px;
}

.dDate {
    color: #00b;
    font-size: 12px;
}

.noWrap {
    white-space: pre;
}

.renderError {
    color: red;
}

#dataTable {
    width: auto !important;
}

#dataTable td {
    text-align: right;
    white-space: pre;
}

#dataTable td.key {

}

#dataTable .columnHeader th {
    padding: 3px;
}

#dataTable .columnHeader th div {
    padding: 1px;
    cursor: pointer;
}

#dataTable .columnHeader th div:hover {
    background: #eaeaea;
}

#dataTable th.keyHeader span {
    padding: 1px;
    cursor: pointer;
}

#dataTable th.keyHeader span:hover {
    background: #eaeaea;
}

#dataTable td {
    padding: 3px
}

.emptyResult {
    color: #999;
    font-style: italic;
    font-size: 20px;

    padding: 30px 40px;
}

.showMore {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.cellDataContainer {
    padding: 5px;
    border: 1px solid black;
    background: #fff;
    word-break: break-all;
}

.imgButton {
    cursor: pointer;
}